//=========================================================================================================
//Header.scss/LAYOUT
//==================================================================================================

header{
  //SHADOW
  box-shadow: 0 0 40px getColor('scale-of-grey',"Dusty Gray");
  width:100%;
  @media (max-width:799px){
    margin-bottom:px-to-em(20px);
  }
  @media (min-width: 800px){
    margin-bottom:px-to-em(30px);
  }

  h1{
    @extend .center-content;
    margin-bottom:0;

    @media (max-width:799px){
      margin-top:15px;
    }
    @media (min-width:800px){
      width:55%;
      display: inline-block;
      margin-top:.5em;
      padding: 0 0 0 10%;
      text-align: left;
    }
  }//end H1

  div.caret{
    display: block;
    width: 100%;
    text-align: center;

    @media (min-width:800px){
      display: none;
    }
  }

  //************SECONDARY MENU********************************
  //@import "secondary-menu.scss";
  & > ul.secondary-menu {
    @include flexx(row,nowrap,flex-start){
      padding:0 px-to-em($basic-margin);
    }
    & li{
      padding-left:px-to-em(5px);
      margin: px-to-em(10px) 0;
    }
    & li:last-child{
      margin-left: auto;
    }
    @media (min-width:800px){
      padding: 0 10%;
    }
  }//end*********SECONDARY MENU**************************

  //social media menu
  & ul.social-media-menu{
    @include flexx(row,nowrap,center){
      margin:0 0 px-to-em(20px) 0;
      padding:px-to-em(10px) 0;
    }
    li{
      margin:px-to-em(7px);
      i{
      font-size:px-to-em($icon-size);
      color:getColor('scale-of-grey','Mine Shaft');
      }
      @media (min-width:800px) and (max-width:944px){
        &:last-child{
          margin-right: 0;
        }
      }
    }
    @media (min-width:800px){
      width:40%;
      float: right;
      padding: 0 10% 0 0;
      margin: 20px 0 10px 0;
      justify-content: flex-end;
      &::after{
        content: "";
        display: table;
        clear: both;
      }
      li:last-child{
        margin-rigth:0;
      }
    }

  }//end*********SOCIAL MENU**************************

  //BASIC NAVEGATION IS HIDDEN FOR SMALL SCREENS
  nav {
    @media (max-width:799px){
      display: none;
    }
    @media (min-width:800px){
      display: block;
      width:100%;
      padding:1% 10% 0 10%;
      ul{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin:1% 0 0 0;
        li{
          margin-bottom: 18px;
          a{
            padding-bottom: 15px;
          }
        }
      }
    }
    @media (min-width:1024px){
      width: 70%;//SEARCH BAR
    }
  }
}
