//=========================================================================================================
//Main-container.scss
//==================================================================================================
body{
  background-color:getColor('scale-of-grey','Mercury');
  div.main-container{
    @include flexx(row,wrap,flex-start);
    width: 90%;
    margin: 0 5%;
    @include mq($min:$tiny){
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(45%,1fr));
      grid-gap:0 20px;
      grid-auto-flow:dense;
      margin: 0 5%;
    }
    @include mq($min: $medium){
      margin: 0 10%;
      width: 80%;
    }
    @include mq($min: $large){
      grid-template-columns: repeat(auto-fill,minmax(30%,1fr));
    }
  }
  div.load{
    margin:4% 5%;
    width: 90%;
    @include mq($min:$large){
      margin:2% 10%;
      width: 80%;
    };
    text-align:center;

    button.load{
      @include mx_button(
                        getColor('scale-of-grey','white'),
                        getColor('scale-of-grey','Mine Shaft'),
                        100%){
        padding: px-to-em(15px);
        font-size:px-to-em(14px);
        border:1px solid getColor('scale-of-grey','Mercury');
        box-shadow:0 0 4px getColor('scale-of-grey','Dusty Gray');
      }
    }
  }
}
