//=========================================================================================================
//regular-card.scss/LAYOUT
//==================================================================================================
.regular-card{
  width: 100%;
  img{
    @extend .center-content;
    width: 100%;
  }
  h2{
    @include H2(getColor('scale-of-grey','black'),
                'bold',
                px-to-em(16px)){
      @extend .center-content;
    }
  }

  footer ul{
    @include flexx(row,nowrap,space-evenly){
      align-content: center;      
    };
    border-top : .5px dotted getColor('scale-of-grey','Silver');
    //margin: px-to-em(10px) 0 ;
    padding: px-to-em(10px) 0 ;
    li:not(:last-child){
      margin-right: px-to-em(20px);
    }
    li i:not(:last-child){
      margin-right: px-to-em(5px);
    }
  }
}
