//=========================================================================================================
//footer.scss/COMPONENT
//==================================================================================================
//You need to target that particular footer because you
//have another footer inside regular-card component
body > footer{
   h2{
    @include mx_font-styles($font-size:px-to-em(14px),
    $font-weight:bold,$text-transform: uppercase,$color:getColor('scale-of-grey','Mercury'));
    margin:px-to-em(60px) px-to-em($basic-margin) px-to-em(20px);
    }
    &>h2{
      margin: 0 px-to-em($basic-margin) px-to-em(30px);
      padding-top: px-to-em(30px);
      color:getColor('scale-of-grey','Dove Gray');
      text-align: center;
      span{
        color:getColor('scale-of-grey','Mercury');
      }
    }

  p{
    @include mx_font-styles($font-size: px-to-em(13px),$text-align: left,
    $letter-spacing:.3px,$color:getColor('scale-of-grey','Dove Gray')){
      line-height: 1.7;
    };
    margin:0 px-to-em($basic-margin);
   }

 ul.recent-post{
   list-style-type: decimal;
   li{
      color:getColor('scale-of-grey','Dove Gray');
      border-bottom: .5px dotted getColor('scale-of-grey','Mine Shaft');
      padding: px-to-em(14px) 0 px-to-em(12px) 0;
      font-size: px-to-em($paragraph-font-size);
    }
 }
  div.footer-menu{
    background-color: getColor('scale-of-grey','black');
    span{
      color: getColor('scale-of-grey','grey');
      display: inline-block;
      @extend .center-content;
    }
    ul li a{
      color: getColor('scale-of-grey','grey');
    }
  }

}
