//=================================================================
//COL-#-1.SCSS
//================================================================
//FIRST PARAGRAPH-COLUMN #1
  div.footer-col-1{
    width: 32%;
    @include mq($max:$medium - 1){
      width: 100%;
      padding:0 5%;
    }
    @include mq($min:$medium){
      width: 45%;
      padding-left: 10%;
    }
    @include mq($min:$x-large){
      width: 36%;
    }
  }
