//---------------------------------------
//CARET/BUTTON/TOGGLE FOR NAVEGATION MENU
//--------------------------------------
li.caret{
  font-size:20px;
  @include mx_animations(1s){
    transform:scale(1);
    background-color:getColor('scale-of-grey','white');
  }
  &:hover {
    @include mx_animations(1s){
      transform:scale(1.1);
      background-color:getColor('scale-of-grey','Mercury');
    }
  }
}
