//--------------------------------------
//MAIN HEADING/COMPONENTS
//----------------------------------------
h1{
  @include mx_font-styles(
    $primary-font,
    px-to-em(36px),
    lighter,
    uppercase,
    $text-align:center,
    $letter-spacing:-.5px
  );
  @include mq($min:$medium){
    text-align: left;
  }
  @include mq($min:$large){
    font-size: px-to-em(42px);
  };
}
