//-----------------------------------------
//NAVEGATION DESIGN
//-----------------------------------------
nav ul li {
  a{
    text-transform: uppercase;
    &:hover{
      border-bottom:3px solid getColor('scale-of-grey','black');
    }
    @include mq($min:$medium){
      font-size:px-to-em(11px);
      letter-spacing: 1px;
    }
    @include mq($min:$x-large - 1){
      font-size:px-to-em(12px);
    }
  }
}
